.Rproj.user
.Rhistory
.RData
.Ruserdata
not_tracked/
data/old/
scripts/ZZ_not_tracked/
simulated_data/
simulated_output/
output/other_quantities.RData
output_final/other_quantities.RData
tikzMetricsDictionary

